vex-page-layout {
  p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.news-blogs-img-box {
  margin: 1rem 0;
}

.btn-approve {
  background: #4ca450;
  color: #fff;
}

.btn-reject {
  background: #c24343;
  color: #fff;
}

.btn-modify {
  background: #2ebde3;
  color: #fff;
}

.text-green {
  color:  #4ca450;
}

.text-blue {
  color: #2ebde3;
}

.text-gray {
  color: #707070;
}

.h-center {
  text-align: center;
}

.img-size {
  width: 60%;
  //text-align: center;
  display: inline-block;
}

.user-username {
  color: #e8ae4e;
  font-weight: 600;
}

.group-table {
  width: 100%;
}
