<vex-page-layout>
    <vex-secondary-toolbar current="News and Blogs Details">
        <vex-breadcrumbs [crumbs]="['NB', 'NEWS and Blogs control', 'News and Blogs Details']"></vex-breadcrumbs>
    </vex-secondary-toolbar>

    <vex-page-layout-content class="-mt-6">
        <mat-card class="p-10">
<!--                <mat-card-header class="mat-card-header">-->
<!--                    <img mat-card-avatar src="assets/img/demo/0.jpg">-->
<!--                    <mat-card-subtitle>-->
<!--                        {{newsAndBlogs.author.firstName ? newsAndBlogs.author.firstName : 'firstname is empty'}} {{newsAndBlogs.author.lastName ? newsAndBlogs.author.lastName : 'lastname is empty'}}-->
<!--                    </mat-card-subtitle>-->
<!--                    <mat-card-title>-->
<!--                        {{newsAndBlogs.author.username ? newsAndBlogs.author.username : 'username is empty'}}-->
<!--                    </mat-card-title>-->
<!--                </mat-card-header>-->
            <div>
                <span class="user-username mr-2">{{newsAndBlogs.author.username ? newsAndBlogs.author.username : 'username is empty'}}</span> {{newsAndBlogs.publishedDate | date}}
            </div>

            <div class="mt-5 mb-3">
                <div>
                    Таб: {{newsAndBlogs.tab?.name ? newsAndBlogs.tab.name : 'пусто'}}
                </div>
                <div class="mt-1">
                    Теги:
                    <span *ngFor="let tags of newsAndBlogs.tags; let lastTag = last">
                            {{tags.name + (lastTag ? '' : ', ')}}
                        </span>
                    <span *ngIf="!newsAndBlogs.tags || newsAndBlogs.tags.length === 0">пусто</span>
                </div>
                <div class="mt-1">
                    Статус: <span [ngClass]="{'text-green': newsAndBlogs.status === 'APPROVED', 'text-red': newsAndBlogs.status === 'REJECTED', 'text-blue': newsAndBlogs.status === 'MODIFIED'}">{{newsAndBlogs.status}}</span>
                </div>
            </div>

            <h1 class="display-1 mt-3 mb-3 h-center">Заглавие: {{newsAndBlogs.title}}</h1>

                <div class="news-blogs-img-box h-center">
                    <img src="{{newsAndBlogs.imageSrc}}" alt="Photo" class="img-size">
                </div>

                <h2 class="headline h-center mt-10">Описание</h2>
                <p>{{newsAndBlogs.description}}</p>

                <h2 class="headline h-center mt-10">Краткое описание</h2>
                <p>{{newsAndBlogs.shortDescription}}</p>

                <h2 class="headline h-center mt-10">Содержание</h2>
                <p>{{newsAndBlogs.content}}</p>

            <mat-card-actions>
                <div fxLayout="row">
                    <button mat-raised-button class="btn-back-to" (click)="navigateBack()">Вернутся назад</button>

                    <span fxFlex></span>
                    <button mat-raised-button class="btn-approve" *ngIf="newsAndBlogs.status === 'WAITING_APPROVE'" (click)="approvedNewsAndBlogs()">APPROVE</button>
                    <button mat-raised-button class="btn-modify" *ngIf="newsAndBlogs.status === 'WAITING_APPROVE'" (click)="modifiedNewsAndBlogs()">MODIFIED</button>
                    <button mat-raised-button class="btn-reject" *ngIf="newsAndBlogs.status === 'WAITING_APPROVE'" (click)="rejectedNewsAndBlogs()">REJECTED</button>
                </div>
            </mat-card-actions>
        </mat-card>
    </vex-page-layout-content>
</vex-page-layout>
