vex-page-layout {
  p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.news-blogs-img-box {
  margin: 1rem 0;
}

.btn-approve {
  background: #4ca450;
  color: #fff;
}

.text-green {
  color:  #4ca450;
}
