<form (ngSubmit)="save()" [formGroup]="form" xmlns="">
    <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>

        <h2 *ngIf="form.get('name').value"
            class="headline m-0"
            fxFlex="auto">{{ form.get('name').value }}</h2>
        <h2 *ngIf="!form.get('name').value"
            class="headline m-0"
            fxFlex="auto">New Category</h2>

        <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
            <mat-icon [icIcon]="icClose"></mat-icon>
        </button>
    </div>

    <mat-divider class="-mx-6 text-border"></mat-divider>

    <mat-dialog-content fxLayout="column">
        <div class="flex flex-col sm:flex-row">
            <mat-form-field *ngIf="allCategories" class="mt-6 flex-auto">
                <mat-label>Parent category</mat-label>
                <mat-select cdkFocusInitial formControlName="parentId">
                    <mat-option *ngFor="let i of allCategories" [value]="i.id">
                        {{i.name}}
                    </mat-option>
                </mat-select>

                <mat-icon [icIcon]="icEditLocation" class="mr-3" matPrefix></mat-icon>
            </mat-form-field>

            <mat-form-field class="sm:mt-6 sm:ml-6 flex-auto">
                <mat-label>Category Name</mat-label>
                <input cdkFocusInitial formControlName="name" matInput>

                <mat-icon [icIcon]="icEditLocation" class="mr-3" matPrefix></mat-icon>
            </mat-form-field>
        </div>

        <mat-form-field *ngIf="data" class="mt-6 flex-auto">
            <mat-label>Tab name</mat-label>
            <mat-select cdkFocusInitial formControlName="categoryTabs" multiple>
                <mat-option *ngFor="let i of data.tabs" [value]="i.id">
                    {{i.name}}
                </mat-option>
            </mat-select>

            <mat-icon [icIcon]="icEditLocation" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close type="button">CANCEL</button>
        <button *ngIf="isCreateMode()" color="primary" mat-button type="submit">ADD CATEGORY</button>
        <button *ngIf="isUpdateMode()" color="primary" mat-button type="submit">UPDATE CATEGORY</button>
    </mat-dialog-actions>
</form>
